table, th, tr, td {
    border: 1px solid;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

button, input {
    display: block;
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}